{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <title>{{ titulo }}</title>
  <!-- Hojas de Estilo -->
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
  <!-- Scripts -->
  <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js"> </script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <header>

    </header>
    <section id="page">
      <div class="container-fluid">
       
        {% block contenido %}


<div class="sticky-top">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><p style="color:red;"> <i class="fa fa-youtube-play fa-2x" aria-hidden="true" >BlogTube</p></i></h1>

<ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link "  style="color:red;" href="{% url 'vista_video' %}">Home</a>
  </li>
{%for field in categs%}  
  <li class="nav-item">
    {%if field.categoria == categoria.nombre %}
      <a class="nav-link active"  style="color:red;" href="{% url 'categs' field.pk %}">{{field.nombre}}</a>
    {% else %}
      <a class="nav-link "  style="color:red;" href="{% url 'categs' field.pk %}">{{field.nombre}}</a>
    {%endif%}
 {%endfor%}



  <!--brackets  -->
</ul>
  </div>
</div>
</div>





<br></br>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
  <div class="container-fluid">  

  {% for field in noticias %}
    <div class="row justify-content-center">
        <div class="col-6 ">
        <h4> <a  style="color:purple;" href="{% url 'Noticia1' field.pk %}"> {{ field.titulo }}</a> </h4><br>
        <img src="{% get_media_prefix %}{{ field.imagen }}" class="img-fluid" /><br>
        <a href="#" class="badge badge-secondary">{{field.categoria}}</a>
        <hr><hr>
    </div>
    </div>
  {% endfor %}
  </div>
        
        {% endblock %} 
      </div>
    </section> 
  </body>  
</html>